@font-face {
  font-family: "FlandersArtSans";
  src: url(../fonts/FlandersArtSans/FlandersArtSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "FlandersArtSansLight";
  src: url(../fonts/FlandersArtSans/FlandersArtSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "FlandersArtSansMedium";
  src: url(../fonts/FlandersArtSans/FlandersArtSans-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "SangBleuKingdom";
  src: url(../fonts/SangBleuKingdom/SangBleuKingdom-Regular.otf) format("opentype");
}

body {
  font-family: SangBleuKingdom,Helvetica,sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

h1, h2, h3 {
  font-family: FlandersArtSansMedium,Helvetica,sans-serif;
  font-weight: 400;
  line-height: 1.2;

}

h1 {
  font-size: 4rem;
}

#navbar {
  width: 100%;
  background: url('../muntpunt_logo.png') no-repeat left;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  border-radius: unset;
  padding-bottom: 80px;
}

div.navbar-header {
  width: 100%;
}

form#Register label {
  color: #333333 !important;
}

#block-footercolor {
  height: 3em;
  border-top: none;
  border-bottom: 1px solid black !important;
  margin-bottom: 10px;
}

#block-footerlogo {
  background: url('../muntpunt_footer.png') no-repeat right;
  height: 3em;
}

button {
  background-color: #858fdc !important;
  color: #000 !important;
  font-size: 2.2rem !important;
  font-weight: 100 !important;
  font-family: FlandersArtSansLight,Helvetica,sans-serif !important;
  border-radius: 9rem !important;
  border: 2px solid black !important;
  padding: .5rem 2rem !important;
}
